<h2>Category: {{categoryName}}, Full cost: {{fullCost}}</h2>
<div class="d-flex justify-content-center">

  <form class="d-flex flex-column align-items-center" method="POST" action="/newtrip/category/castomize/save"
    id="castomizeCategoryForm">
    <h4>
      <p id="newtripTitle">Please enter cost for each payer:</p>
    </h4>

    {{#if error}}
    <p class="text-danger">{{error}}</p>
    {{/if}}

    {{#each payers}}
    <div class="form-group">
      <input type="text" placeholder="Enter cost for {{this}}" name="castomizeCategoryCost" class="form-control"
        id="castomizeCategory">
      <input type="hidden" name="payer" value="{{this}}">
    </div> <br />
    {{/each}}
    <br />
    <input type="hidden" name="categoryName" value="{{categoryName}}">
    <input type="hidden" name="fullCost" value="{{fullCost}}">

    <button id="castomizeCategoryBtn" type="submit" class="btn btn-primary">Save category</button>
  </form>

</div>
